<p>Order Details</p>

<p>Items:</p>
      <ul>
      <% @order.order_items.each do |checkout_item| %>
      <li><%= checkout_item.quantity %> x <%= checkout_item.item.name %><%= " $#{checkout_item.item.price}" %></li>
      <% end %>
      </ul>

      Sum total: <%= render_order_total(@order) %> 

<%= link_to 'Back', orders_path %>