<h2>Cart show</h2>
<ul>
  <% current_cart.order_items.each do |order_item| %>
    <li>Item: <%= order_item.item.name %></li>
    <li>Price: <%= number_to_currency(order_item.item.price) %></li>
     Quantity: <%= order_item.quantity %>

    <ul>
      <li>
        <%= link_to "Remove item", order_item_path(order_item), method: :delete %>
      </li>
    </ul>
  
  <% end %>
</ul>

Sum total: <%= number_to_currency(current_cart.total) %> 

<%= link_to "Proceed to checkout", new_order_path %><br>

<%= link_to "Empty cart", cart_path(current_cart),method: :delete, data: {confirm: "Are you sure?"} %>