<% content_for :title do %>Item Details<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-9 col-md-offset-3" id='itemDetails'>
      <div class="card">
        <%= image_tag @item.picture, class: 'card-img-top' if @item.picture.attached? %>
        <div class="card-body">
          <h5 class="card-title"><%= @item.name %></h5>
          <p class="card-text"><%= @item.description %></p>
        </div>
        <% if can? :update, @item %>
        <div class="card-body">
          <%=link_to 'Edit', edit_item_path(@item), class: "card-link" %>
          <%=link_to 'Delete', item_path(@item), class: "card-link", method: "delete", data: { confirm: "Are you sure?" }%>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-3" id="priceTag">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">$<%= @item.price %></h5>
          <p class="card-text">In stock: <%= @item.in_stock %></p>
          <%= button_to "Add to cart", order_items_path(item_id: @item.id), method: :post, class: "btn btn-warning" if can? :manage, Order %>
        </div>
      </div>
    </div>
  </div>
</div>
