<div class="container">
	<div class='row'>
		<div class='col-md-3 text-left'>
			<img src='pictures/logo.jpg' width='85'>
			<p>Want to know more about us? You can join the community</p>
		</div>
		<div class='col-md-3 text-left'>
			<h4>Links</h4>
			<ul>
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Shop", root_path %></li>
				<li><%= link_to "Cart", root_path %></li>
			</ul>						  
		</div>
		<div class='col-md-3 text-left'>
			<h4>Contact us</h4>
			<p>123 Coding Street, Sydney, NSW<br>
				Phone: 040-xxxx-xxxx<br>
				E-Mail: <%= mail_to 'xxx@gmail.com' %>
			</p>
		</div>		
	</div>
	<div class="footer-copyright text-center py-3">©Copyright <%= Time.now.year %></p>
  		</div>
</div>


