<header class="header">
  <div class='container-fluid'>
    <nav class="navbar navbar-expand-lg navbar-light">
      <%= link_to "RETRO TECHS", root_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><%= link_to "Shop", items_path, class: 'nav-link' %></li>
          <li class="nav-item">
            <% if can? :create, Item %>
              <%= link_to "Sellâ“", new_item_path, class: 'nav-link'%>
            <% end %>
          </li>
          <li class="nav-item">
            <%= form_tag "/items", :method => "get" do %>
              <%= text_field_tag :search_by_name, params[:search_by_name] %>
              <%= submit_tag "Search" %>
            <% end %>
          </li>
        </ul>
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item"><%= link_to "CartðŸ›’", cart_path(current_cart), class: 'nav-link' if can? :view, Order %></li>
            <li class="nav-item">
              <li class="nav-item dropdown">
                <%= link_to '#', class: 'nav-link dropdown-toggle', 'data-toggle': 'dropdown', role: 'button', 'aria-haspopup': 'true', 'aria-expanded': 'false' do %><%= "G'day, #{current_user.username}â—ï¸" %><% end %>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to "Edit Profile", edit_user_registration_path, class: 'dropdown-item' %>
                  <%= link_to "Orders", orders_path, class: 'dropdown-item' if can? :view, Order %>
                </div>
              </li>
            </li>
            <li><%= link_to "Sign outâ“", destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
          <% else %>
            <li class="nav-item"><%= link_to "Sign in", new_user_session_path, class: 'nav-link'  %></li>
            <li class="nav-item"><%= link_to "Sign upâ—ï¸", new_user_registration_path, class: 'nav-link' %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
</header>
