<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retro Techs<%= ' - ' + yield(:title) if content_for?(:title)  %></title>
    <meta name="description" content="Retro Techs<%= ' - ' + yield(:description) if content_for?(:description) %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <%= render 'layouts/header'%>
    </header>
    <main role="main">
      <% if flash[:notice] %>
        <div class='alert alert-success alert-dismissible fade show'>
          <button type='button' class='close' data-dismiss='alert'>&times;</button>
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:error] %>
        <div class='alert alert-danger alert-dismissible fade show'>
          <button type='button' class='close' data-dismiss='alert'>&times;</button>
          <%= flash[:error] %>
        </div>
      <% elsif flash[:alert] %>
        <div class='alert alert-warning alert-dismissible fade show'>
          <button type='button' class='close' data-dismiss='alert'>&times;</button>
          <%= flash[:alert] %>
        </div>
      <% end %>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
    <footer>
      <%= render 'layouts/footer'%>
    </footer>
  </body>
</html>
